# User Testing Report

User testing was conducted by Michaela Tuor on Tuesday, October 22nd, 2013 between the times of 3:28pm and {end time} with the following participants:

- Gracie Walker
- Kathryn Hallett
- Jenny Richardson

## Tasks

1. Go to Monkey Types page
2. Find information for old world monkeys
3. Find how information on the size of new world monkeys

---

## Individual Results & Observations

### Gracie

- She clicked on the link as expected… and went to the correct page
- She had no troubles troubles completing any specific task..
- She said it was easy, and well laid out
- Says I should go through and bold inportant things

### Kathryn

- She clicked on the link as expected…
- Empasize things, make text content smaller, have a read more option if they want more 

### Jenny
- everything went as planed
- she said everything was easy, and straight forward
- Jenny wanted to go to the anatomy page for where the last task would be found which would have the information also, the page just isnt made yet.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- All participating people said my content was a little to big and should shorten it

### Serious, Causes Frustration, May Hinder Completion

- none?

### Minor, Annoying, Won’t Hinder Completion

- Everyone chose different ways to get to the monkeys types page, which isn't bad, just an observations… weither it was through the nav or the link in the first paragraph they got there in the end.