@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width;	scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


html {
	height: 100%;
	font-size: 100%;
	background-color: #FFF;
}


header {
	background-color: #CCE79F;
	padding: 0%;
}

nav ul {
	list-style-type: none; 
	text-align: center;
}


nav li {
	display: inline;
}

.arrow {
	max-width: 20px;
	padding: 0% 1% 0% 1%;
}

nav a, 
nav a:link,
nav a:visited {
	font-family: Constantia, Lucida Bright, DejaVu Serif, "Georgia", serif;
	display: block;
	margin: 0 1%;
	padding: 2% 1%;
	color: #453624;
	font-size: 1em;
	text-decoration: none;
}

nav a:hover, 
nav a:focus,
nav a:active {
	border-radius:60px;
	background-color: #F8F6E6;
}


h1{ 
	font-family: 'Chango', cursive;
	text-align: center;
	color: #729C4C;
	font-size: 3em;
	padding: 0%;
}
	
h2{ 
	font-family: 'Chango', cursive;
	text-align: left;
	color: #453624;
	font-size: 1.5em;
}

.flex-img{
	display: block;
	width: 100%;
}

p {
	font-family:Constantia, Lucida Bright, DejaVu Serif, "Georgia", serif
	text-align: left;
	color: #000;
	font-size: 1.4em;
}

.logo{
	width:25%;
	display: center;
}
	
.logo2{
	width:15%;
	display: none;
}
	
.top {
	min-width: 100px;
	}
	
a, 
a:link,
a:visited {
	color: #729C4C;
	text-decoration: none;
}

@media only screen and (min-width:38em){

nav ul {
	list-style-type: none; 
}

nav a, 
nav a:link,
nav a:visited {
	display: inline-block;
}

	
.logo {
	width:45%;
	display: none;
}

.logo2 {
	width: 15%;
	display: inherit;
}

}



.skiplinks{
	margin :0;
	padding: 0;
	position: absolute;
	width:100%;
	z-index: 3000;
	
	fontsize: 11.25em;
	font-weight: bold;
	list-style-type:none;
}

.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited{
	
	padding: 0.75em 1em;
	position:absolute;
	top: -10em;
	
	background-color:#000;
	
	color: #FFF;
	text-decoration:none;
	
}


.skiplinks a:focus {
	top:0;
	
}


a,
a:link,
a:vistied {
	outline:none;
}

a:hover,
a:active {
	outline:none;
}

a:focus {
	outline: 3px solid #000;
}
