<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title> Monkey of the World -- Monkeys and everything about them; Ottawa Canada</title>
<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
<meta name="handheldfriendly" content="true">
<meta name= "mobileoptimized" content="240">
<meta name= "viewport" content= "width=device-width,initial-scale=1">
<meta name= "description" content= "Monkeys and information all about them">
</head>

<link href='http://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis:300,400' rel='stylesheet' type='text/css'>

<!-- facebook -->
	<meta property="og:type" content="article">
	<meta property="og:title" content=" Monkey of the World -- Monkeys and everything about them; Ottawa Canada ">
	<meta property="og:url" content=" http://tuor0002.github.io/large-data-website/ ">
	<!-- Image Size: minimum 200x200; recommended 1500x1500 -->
	<meta property="og:image" content=" http://tuor0002.github.io/images/facebook-icon.jpg">
	<meta property="og:description" content="Monkeys and information all about them">
	<meta property="og:site_name" content=" MonkeyRus">
	
	
	
	<!-- Twitter -->
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content=" Monkey of the World -- Monkeys and everything about them; Ottawa Canada ">
	<meta property="twitter:url" content=" http://tuor0002.github.io/large-data-website/ ">
	<!-- Image Size: 120x120-->
	<meta property="twitter:image" content=" http://tuor0002.github.io/images/twitter-icon.jpg">
	<meta property="twitter:description" content="Monkeys and information all about them">

	<header>
	<!--
	<div class="searchbar"> 
<label>Search</label>
<input type="search" placeholder="Search">
</div>

-->

<body>


			<nav> 
				<ul>
					<li> <a href="{{site.baseurl}}/index.html" rel="home"> Home </a> </li>
					<li> <a href="{{site.baseurl}}/species.html" rel="species"> Monkey Types</a> </li>
					<li> <a href="{{site.baseurl}}/habitats.html" rel="habitats"> Habitats </a> </li>
					<li> <a href="{{site.baseurl}}" rel="anatomy"> Anatomy </a> </li>
					<li> <a href="{{site.baseurl}}" rel="behaviors"> Behaviors </a> </li>
				</ul>
			</nav>
	</header>
	
	<center>
		<div>
		<img src="{{site.baseurl}}/images/logo.png" class="logo" alt"logo">
		</div>
	</center>
	
		
		{{content}}
		
<div class= "grid">		
	<!-- bottom images Left -->
		<div class="unit unit-s-hidden unit-m-1-3 unit-l-1-3">
			<img src="{{site.baseurl}}/images/defaultimage2.png" class="flex-img" alt"A Spider monkey">
		</div>
		<!-- bottom images Center -->
		<div class="unit unit-s-1-2 unit-m-1-3 unit-l-1-3">
			<img src="{{site.baseurl}}/images/defaultimage1.png" class="flex-img" alt"a howler monkey">
		</div>
		<!-- bottom images Right -->
		<div class="unit unit-s-1-2 unit-m-1-3 unit-l-1-3">
			<img src="{{site.baseurl}}/images/defaultimage3.png" class="flex-img" alt" cute monkey">
		</div>
</div>
	
		<header>
			<nav> 
				<ul>
					<li> <a href="{{site.baseurl}}index.html" rel="home"> Home </a> </li>
					<li> <a href="{{site.baseurl}}species.html" rel="species"> Monkey Types</a> </li>
					<li> <a href="{{site.baseurl}}/habitats.html" rel="habitats"> Habitats </a> </li>
					<li> <a href="{{site.baseurl}}" rel="anatomy"> Anatomy </a> </li>
					<li> <a href="{{site.baseurl}}" rel="behaviors"> Behaviors </a> </li>
				</ul>
			</nav>
	</header>
	
	
</body>
</html>

